.*~
.*.swp
tx
mo-files
string-maker
pot-files
Output/*
Initrd
junk
JUNK
test
README.mdown
README.tx
TODO
Tarballs
Makefile.local
Src/initrd
stop1
stop2
make-xlate-files-err.log
validate-po.log
Validate
Private
